# String

In [6]:
a = "Python is awesome"
print(a)

Python is awesome

In [7]:
a = "Python"
b = "is"
c = "awesome"
print(a , b ,c)

Python is awesome

In [8]:
print ("Python " + "is " + "awesome")

Python is awesome

In [5]:
a = "Hello, World!"
print(a[7])

W

In [1]:
a = "Hello, World!"
print(len(a))

13

In [1]:
word1 = "How"
word2 = "do"
word3 = "you"
word4 = "like"
word5 = "Python"
word6 = "so"
word7 = "far?"

print(word1 , word2 , word3 , word4 , word5 ,word6 , word7)

How do you like Python so far?

In [5]:
a = "The best things in life are free!"
print("free" in a)

True

In [7]:
a = "The best things in life are free!"
print("work" not in a)

True

In [8]:
b = "Hello, World!"
print(b[2:5])

llo

In [9]:
b = "Hello, World!"   #START from starting ENDS to 5-1
print(b[:5])

Hello

In [10]:
b = "Hello, World!"    #STARTS from 2 index ENDS to ending
print(b[2:])

llo, World!

In [11]:
b = "Hello, World!"  # - Starts from backward
print(b[-5:-2])

orl

In [12]:
b = "HEllo, World!"   # Return the string in uppercase
print(b.upper())

HELLO, WORLD!

In [13]:
b = "Hello, World!"    # Return the string in lowercase
print(b.lower())

hello, world!

In [17]:
b = " Hello, World! "  #remove the space
print(b.strip())

Hello, World!

In [19]:
b = "Hello, World!"    #replace the first letter
print (b.replace("H" , "J"))

Jello, World!

In [20]:
b = "Hello, World!"    # split the words
print(b.split())

['Hello,', 'World!']

In [22]:
a = "Hello"
b = "World"
c = a +" " + b
print(c)

Hello World

In [23]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [24]:
age = 36
txt = "My name is John, I am " + str(age)
print(txt)

My name is John, I am 36

In [26]:
age = 36
txt = "My name is John, I am {}" 
print(txt.format(age))

My name is John, I am 36

In [27]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [32]:
b = "Hello, World!"    # Joins the elements of an iterable to the end of the string
print(b.join("43"))

4Hello, World!3

#### prints "Yellow is the color of sunshine".

In [9]:
color = "Yellow"
thing = "sunshine"
print(color + " is the color of " + thing)

Yellow is the color of sunshine

##### In this scenario, two friends are eating dinner at a restaurant. The bill comes in the amount of 47.28 dollars. The friends decide to split the bill evenly between them, after adding 15% tip for the service. Calculate the tip, the total amount to pay, and each friend's share, then output a message saying "Each person needs to pay: " followed by the resulting number.

In [2]:
bill =  47.28 
tip = bill * 0.15
total = bill + tip
share = total/2 
print("Each person needs to pay: " + str(share))

Each person needs to pay: 27.186

##### This code is supposed to take two numbers, divide one by another so that the result is equal to 1, and display the result on the screen. Unfortunately, there is an error in the code. Find the error and fix it, so that the output is correct.

In [3]:
numerator = 10
denominator = 10
result = numerator / denominator
print(result)

1.0

##### This code is supposed to display "2 + 2 = 4" on the screen, but there is an error. Find the error in the code and fix it, so that the output is correct.

In [4]:
print("2 + 2 = " + str(2 + 2))

2 + 2 = 4